doctype html
html
  head
    mata(charset='UTF-8')
    mata(name='viewport',content='width=100%, initial-scale=1.0')
    title Home Page
    link(rel='stylesheet',href='home_page.css')
  
  body
    .HomePage
      .header
        .header_logo Lazebra
        .header_button.cursor
          img(src="./component/img/login")/ Sign in
          
      .container
        .container_title#ajax-output Lazebra，你的日常購物小幫手
        .searchbar
          .bar_input
           img(src="./component/img/landmark.svg")
           form(action=" ")
            input(type="text", name="location", placeholder="Enter delivery address")
          .bar_button.cursor Search
      .page1
        .page1_title 
        img(src="./component/img/orginal_circle.svg")/ Lazebra 起源
        p.
          因應疫情發展，越來越多人配合防疫，減少出門購物消費的習慣，
          轉而進行線上消費，除了宅配取貨、門市取貨外，我們希望能建構新的線上購物模式，
          藉由鄰居或附近住戶出門採買時幫忙代購，以搭便車的購物方式，
          使居家購物模式更加便利
      
      .page2
        .page2_container
          .page2_title
            h1 多種取貨方式
            ol
              li 宅配到家
              li 超商面交
              li 鄰居代收
      
      .page3
        .page3_title
          h1 如何訂購您想要的日常生活用品?
          ul
            li 輸入您的地址
            li 按下搜尋按鈕
            li 查詢是否有代購者訂單
            li 選擇訂購商品
            li 等待代購者確認
        
      .footer
        .footer_title 現在就加入我們!
        .footer_botton 
        a Login in
        
          
            
            
              
        

        
            
        
          
          
